body, .card, div, .modal-window>div {
    background: black;
    color: white;
}
p, h1, h2, h3, h4, h5 {
    color: white;
}

ul > li {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.45);
    padding-top: 12px;
    padding-bottom: 5px;
}
.card {
    border: 1px solid rgba(255, 255, 255, 0.45);
}

a {
    color: #3f9bfd;
}

a:hover {
    color: #3192fa;
}

.modal-close:hover {
    color: white;
}